.content {
    grid-area: c;
    color: gray;
}

.contentContainer {
    width: 60%;
    margin: 0 auto;
    display: block;
    padding-top: 100px;
}

.textTitle {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 27px;
}

.textBody {
    line-height: 2;
    font-weight: 300;
}

.textId {
    font-weight: 900;
    font-size: 150px;
    color: #f1f1f1;
    float: right;
}

.line {
    border-bottom: 2px solid #f1f1f1;
    margin-top: 31%;
    margin-left: 10%;
}

.inputForm input{
    width: 50%;
    height: 25px;
    border: 2px solid darkseagreen;
    border-radius: 5px;
    margin-bottom: 20px;
}

.inputForm textarea{
    width: 50%;
    height: 45px;
    border: 2px solid darkseagreen;
    border-radius: 5px;
}

.btn {
    width: 20%;
    height: 35px;
    margin-top: 4%;
    background-color: darkseagreen;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 600;
}

.btn:hover{
    background-color: #f1f1f1;
    border: 2px solid darkseagreen;
    color: darkseagreen;
    cursor: pointer;
}

form {
    margin-top: 10%;
    text-align: center;
}